html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/576/50/516/abstract-puzzle-jigsaw-puzzle-texture-wallpaper-preview.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.brand{
    padding-left: 40%;
    word-spacing: 5px;
}
.brand h1 {
	font-size: 25px;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.6;
  padding: 10px;
  background-color: #AA3939;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px;
  border: 1px solid crimson;
}

.grid button {
  background-color: #cfcfcf;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
}

.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.footer button {
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 80px;
  background-color: #D4EE9F;
  color: #003333;
  outline: none;
  cursor: pointer;
}

.footer button:hover {
  color: #D4EE9F;
  background-color: #003333;
}

.footer span {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: #D4EE9F;
  font-weight: bold;
  margin: auto 0;
}

.message {
  color:#AA3939;
  height: 80px;
}

footer{
  position: relative;
  bottom: 0px;
  width: 110%;
  background: #111;
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  opacity: 0.8;
  margin-top: 480px;
}
.bottom center{
  padding: 5px;
  font-size: 15px;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}