@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color:white;
	font-size: 20px;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 500;
	letter-spacing: .05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}
.col-right h2 span{
    color: crimson;
    font-weight: 600;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 25px;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
	padding-right:50px;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: .3rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 10px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Home Section */
#home {
	background-image: url(home-bg.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#home h1 {
	display: block;
	width: fit-content;
	font-size: 30px;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#home h1:nth-child(1) {
	animation-delay: 1s;
}
#home h1:nth-child(2) {
	animation-delay: 2s;
}
#home h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
#home h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#home h1:nth-child(1) span {
	animation-delay: .5s;
}
#home h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#home h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Home Section */

/* About us Section */
#aboutus .aboutus {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
    background-image: url(img1.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#aboutus h1{
    color: white;
}
#aboutus .about-top {
	margin: 0 auto;
}
#aboutus .about-top p{
    color: black;
    font-weight: 500;
    justify-content: center;
    font-size: 20px;
}
#aboutus .about-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#aboutus .about-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(img-1.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#aboutus .about-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
}
#aboutus .about-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#aboutus .about-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#aboutus .about-item p {
	color: white;
	text-align: left;
}
/* End About us Section */

/* Collaboration */
#collabs .collabs {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/487/88/13/men-shaking-hands-agreement-wallpaper-preview.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#collabs h1{
    color: white;
}
#collabs .collab-top {
	margin: 0 auto;
}
#collabs .collab-top p{
    color: black;
    font-weight: 500;
    justify-content: center;
    font-size: 90px;
}
#collabs .collab-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#collabs .collab-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(https://www.teahub.io/photos/full/56-560720_2296x1827-45-high-quality-dental-wallpapers-teeth-wallpaper.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#collabs .collab-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
}
#collabs .collab-bottom .icon {
	height: 120px;
	width: 350px;
	margin-bottom: 20px;
}
#collabs .collab-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#collabs .collab-item t {
	color: white;
	text-align: left;
	font-size:20px;
}

/* covid section */
#covid19 .covid19{
    flex-direction: column;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
    background-image: url(https://miro.medium.com/max/3840/1*CahN5i0Em8IwXm-IqQf0mw.jpeg);
	background-size: contain;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#covid19 .covid19-header h1 {
	margin-bottom: 50px;
}
#covid19 .all-covid19 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#covid19 .covid-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#covid19 .covid-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#covid19 .covid-info h1 {
	font-size: 4rem;
	font-weight: 500;
    color: crimson;
}
#covid19 .covid-info h3 {
	color: white;
    font-size:20px;
    font-family: times new roman;
    font-weight: none;
}
#covid19 .covid-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#covid19 .covid-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .7;
}
#covid19 .covid-img img {
	transition: .3s ease transform;
}
#covid19 .covid-item:hover .covid-img img {
	transform: scale(1.1);
}
/* End covid section */

/* general diagnosis Section */
#gdt .gdt {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
    background-image: url(https://www.philips.com/c-dam/corporate/newscenter/global/future-health-index/AI-precision-diagnosis-hero.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
    
}
#gdt .col-left {
	width: 250px;
	height: 360px;
}
#gdt .col-right {
	width: 100%;
}
#gdt .col-right h2 {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#gdt .col-right p {
	margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
}
#gdt .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#gdt .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#gdt .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
/* End general diagnosis Section */

/* consult Section */
#consultus .consultus
{
    background-image: url(contact.jpg);
}
h1{
    text-align: center;
    font-family: Times New roman;
    padding: 20px;
    color: darkgray;
}
k{
    color: black;
    text-align: center;
    font-family: times new roman;
    padding: 20px;
    font-size: 20px;
    font-weight: 500px;
}
label{
    color: black;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}
.ct {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: grey;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.ct:hover {
	color: white;
	background-color: crimson;
}
/*End consult Section */

/* Footer */
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 30px;
  font-weight: 600;
  color: #202020;
}
.content1 .m{
  font-size: 30px;
  font-weight: 600;
  color: #202020;
}
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content m{
  text-align: justify;
    font-size: 15px;
}
.left .content .social{
  margin: 20px 0 0 0;
  line-height: 150px;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  color: crimson;
  background: grey;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
  color: grey;
}
.center .content .fas{
  font-size: 20px;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 15px;
  margin-bottom: 2px;
  color: grey;
}
.right form .msg{
  margin-top: 10px;
  font-family: sans-serif;  
}
.right form .msgForm{
    color: white;
    font-family: sans-serif;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 15px;
  background: #151515;
  padding-left: 10px;
  border: 1px solid grey;
  border-radius: 3px;
}
.right form input:focus,
.right form .msgForm:focus{
  outline-color: red;
}
.right form input{
  height: 35px;
  color: white;
}
.right form .btn{
  margin-top: 10px;
  padding-left: 0px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  background: #f12020;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: grey;
}
.bottom center{
  padding: 5px;
  font-size: 15px;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}

/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Mobile */
@media only screen and (min-width: 375px) {
	.cta {
		font-size: 5px;
		padding: 10px 20px;
	}
	h1.section-title {
		font-size: 5px;
	}

	/* Home */
	#home h1 {
		font-size: 7rem;
	}
	/* End Home */

	/* About us Section */
	#aboutus .about-bottom .about-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End About us Section */
	
	/* Collaborations */
	#collabs .collab-bottom .collab-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End of collaborations */

	/* covid */
	#covid19 .covid-item {
		flex-direction: row;
	}
	#covid19 .covid-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#covid19 .covid-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#covid19 .all-covid19 .covid-info {
		height: 100%;
	}
	#covid19 .all-covid19 .covid-img {
		height: 100%;
	}
	/* End covid */

	/* general diagnosis */
	#gdt .gdt {
		flex-direction: row;
	}
	#gdt .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#gdt .gdt .col-left .gdt-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#gdt .col-right {
		text-align: left;
		padding: 30px;
	}
	#gdt .col-right h1 {
		text-align: left;
	}
	/* End general diagnosis */

	/* consult  */
	#consultus .consultus {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#consultus .consultus-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#consultus .consultus-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#consultus .consultus-item .icon {
		height: 100px;
		width: 100px;
	}
	#consultus .consultus-item .icon img {
		object-fit: contain;
	}
	#consultus .consultus-item .consultus-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End consult  */
}

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Home */
	#home h1 {
		font-size: 7rem;
	}
	/* End Home */

	/* About us Section */
	#aboutus .about-bottom .about-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End About us Section */
	
	/* Collaborations */
	#collabs .collab-bottom .collab-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End of collaborations */

	/* covid */
	#covid19 .covid-item {
		flex-direction: row;
	}
	#covid19 .covid-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#covid19 .covid-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#covid19 .all-covid19 .covid-info {
		height: 100%;
	}
	#covid19 .all-covid19 .covid-img {
		height: 100%;
	}
	/* End covid */

	/* general diagnosis */
	#gdt .gdt {
		flex-direction: row;
	}
	#gdt .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#gdt .gdt .col-left .gdt-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#gdt .col-right {
		text-align: left;
		padding: 30px;
	}
	#gdt .col-right h1 {
		text-align: left;
	}
	/* End general diagnosis */

	/* consult  */
	#consultus .consultus {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#consultus .consultus-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#consultus .consultus-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#consultus .consultus-item .icon {
		height: 100px;
		width: 100px;
	}
	#consultus .consultus-item .icon img {
		object-fit: contain;
	}
	#consultus .consultus-item .consultus-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End consult  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
		padding-right:50px; 
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.3rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#aboutus .about-bottom .about-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */
